.container {
  max-width: max-content;
  :global {
    .text {
      font-size: 2rem;
      font-weight: 600;
      .cursor {
        margin-left: 2px;
        & :local {
          animation: blinkCursor 500ms linear infinite;
        }
      }
    }
  }
}

@keyframes blinkCursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
