.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  :global {
    h1 {
      font-size: 8rem;
    }
    p {
      font-size: 2rem;
    }
    .home-btn {
      margin-top: 2rem;
      padding: 1rem 1.5rem;
      border-radius: var(--border-radius-sm);
      background-color: var(--primary);
      color: var(--text);
      transition: transform 0.3s ease-in-out;
      font-size: 1.25rem;
      &:hover {
        transform: translate(0, -5px);
      }
    }
  }
}
