.container {
  position: relative;
  cursor: pointer;
  border-radius: var(--border-radius-full);
  height: 16px;
  width: 16px;
  margin-right: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  &.change-icon {
    &:hover {
      :global {
        .skill-img {
          opacity: 0;
        }
        .add-to-filter {
          opacity: 1;
        }
      }
      scale: 1.1;
      background-color: var(--accent);
    }
  }
  &:hover {
    :global {
      .skill-name {
        visibility: visible;
        transform: translate(-50%, calc(-50% + 2rem));
      }
    }
  }
  :global {
    .add-to-filter {
      opacity: 0;
    }
    .skill-img,
    .add-to-filter {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 24px;
      width: 24px;
      object-fit: contain;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease-in-out;
    }
    .skill-name {
      visibility: hidden;
      font-size: 0.75rem;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0 0.75rem;
      transform: translate(-50%, -50%);
      background-color: var(--accent);
      border-radius: var(--border-radius-sm);
      transition: transform 0.3s ease-in-out;
    }
  }
}
