@import "purecss/build/pure-min.css";
@import "purecss/build/grids-responsive-min.css";

:root {
  --text: #f8f9fa;
  --background: #22262a;
  --primary: #b9b9c1;
  --secondary: #0f141a;
  --accent: #857d8c;

  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;

  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#root,
.app-main {
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

.container {
  width: 100%;
  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

button {
  border: none;
  cursor: pointer;
  line-height: 1;
}

.feather-icon {
  display: inline-block;
  vertical-align: middle;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}
