@import "purecss/build/pure-min.css";
@import "purecss/build/grids-responsive-min.css";

:root {
  --text: #f8f9fa;
  --background: #22262a;
  --primary: #a6c2de;
  --secondary: #0f141a;
  --accent: #5087be;

  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#root,
.app-main {
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
}
